{% extends '__base.html' %}

{% block navigation %}
    {% include '_navbar.html' with active='about' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                At Isaza Eng Tech we provide our clients with consulting services based on advanced engineering
                mathematics. We develop tools that improve the way in which current engineering calculations are
                conducted, by leveraging our background in analytical and computational methods. Our mission is to
                provide clients with platforms that will enable them to meet today’s need for more efficient
                engineering designs, taking their businesses to the next level.
            </p>
        </div>
    </div>
{% endblock %}