{% extends '__base.html' %}

{% block navigation %}
    {% include '_navbar.html' with active='services' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Custom Engineering Software</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            The complexity of modern engineering projects often warrants the design of highly specialized tools. We
            offer
            software solutions for a number of engineering applications, built in house by our highly trained team of
            engineers with academic and industrial backgrounds. We also offer support and development services, and can
            work with you to build tools to aid in the design and maintenance of engineering systems.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Poiseulle - Node Network Flow Optimization
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                Our flagship software product, Poiseulle, allows the user to model complex fluid systems with an
                easy-to-use
                graphical interface. The solver itself is capable of solving flows through arbitrarily connected
                systems.
                It has a variety of built-in models for fluid mechanics, and can easily be extended to accommodate
                customized
                models. Our team is available to consult with users to develop extended models that are tailored to each
                client's individual requirements.
            </p>

            <p>
                Currently, Poiseulle is suitable for:
            <ul>
                <li>Design of pneumatic manufacturing systems</li>
                <li>HVAC design and optimization</li>
                <li>Dust control systems</li>
                <li>Hydraulic systems</li>
            </ul>
            </p>

            <p>
                Additionally, Poiseulle contains a built-in optimizer than can assist in the sizing of fans, pumps,
                valves etc. This ability to quickly construct models of fluid systems and perform optimizations greatly
                reduces the amount of time needed to bring new plants/systems online; and takes a great deal of
                uncertainty out of the design process.
            </p>
        </div>
    </div>
{% endblock %}