{% extends '__base.html' %}

{% block navigation %}
    {% include '_navbar.html' with active='services' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Process Engineering</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                Our process engineering team, alongside our partners, can provide you with the competitive
                advantage needed in today’s markets. We have experience in applications ranging from utility
                systems to reactor modeling. The Isaza Eng Tech advantage is our unique background in
                engineering mathematics.
            </p>
            <p>
                Our process team has expertise in areas including:
            <ul>
                <li>Simple and Complex Heat and Mass Balance Development</li>
                <li>Modeling of Compressible and Incompressible Fluid Systems and Networks</li>
                <li>Tank and Pressure Vessel Design</li>
                <li>Heat Transfer Equipment Sizing</li>
                <li>Advanced HVAC Design and Optimization</li>
                <li>Dust Control and Fume Extraction</li>
                <li>Creation of PFDs and P&amp;IDs</li>
                <li>Process Equipment Sizing and Specification</li>
                <li>R&amp;D and Testing Support</li>
                <li>Commissioning and Start-up</li>
            </ul>
            </p>
        </div>
    </div>
{% endblock %}