{% load staticfiles %}

<!-- Navigation -->
<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'pages:index' %}">
                <img src="{% static "pages/img/isaza_eng_tech_icon.png" %}" class="img-responsive" alt="Isaza Eng Tech">
            </a>

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#responsive-navbar" aria-controls="">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="responsive-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'pages:about' %}" id="nav-about"
                       {% if active == 'about' %}class="active"{% endif %}>About</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle{% if active == 'services' %} active{% endif %}" data-toggle="dropdown"
                       href="#">Services +</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'pages:services-advanced-mathematical-modelling' %}">Advanced Mathematical
                            Modelling</a></li>
                        <li><a href="{% url 'pages:services-process-engineering' %}">Process Engineering</a></li>
                        <li><a href="{% url 'pages:services-custom-engineering-software' %}">Custom Engineering
                            Software</a></li>
                        <li><a href="{% url 'pages:services-computational-fluid-dynamics' %}">Computational Fluid
                            Dynamics</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'pages:contact' %}" id="nav-contact"
                       {% if active == 'contact' %}class="active"{% endif %}>Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>