body {
    padding-top: 0px;
    font-family: Arial;
}

.navbar {
    margin-bottom: 0px;
    border-bottom-width: 2px;
    border-bottom-color: darkgrey;
    border-top-style: solid;
    background-color: white;
}

.navbar-brand {
    line-height: 68px;
    max-height: 100px;
    padding: 0px;
    padding-left: 15px;
    width: auto;
}

.navbar-brand > img {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .navbar-brand > img {
        height: 98px;
    }

    .navbar-nav > li > a {
        padding-top: 40px;
        padding-bottom: 38px;
        margin-bottom: 0px;
        color: #f4691e;
        font-size: 18px;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
    }

    .navbar-nav > li > a.active {
        border-bottom: solid #f4691e 6px;
        padding-bottom: 32px;
    }

    .navbar-nav > li a:hover {
        color: #e0c31e;
        border-bottom: solid #e0c31e 6px;
        padding-bottom: 32px;
    }

    .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        color: #e0c31e;
        border-bottom: solid #e0c31e 6px;
        padding-bottom: 32px;
    }
}

.nav li active {
    background-color: white !important;
}

.navbar-nav > li > a, .navbar-nav > li > a.active {
    color: #f4691e;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    background-color: white !important;
}

.navbar-nav > li a:hover {
    color: #e0c31e;
    background-color: white !important;
}

.nav a {
    background-color: white !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: #e0c31e;
    background-color: white !important;
}

h1 {
    color: #f4691e;
}

h2, h3 {

    color: #ec961d;
}

.carousel-caption > h1, .carousel-caption > h2 {
    color: white;
    text-shadow: 1px 1px darkgray;
}

h1.page-header {
    border-bottom-color: darkgrey;
}

h2.page-header {
    border-bottom-color: darkgrey;
}

.form {
    border: solid whitesmoke 3px;
    padding: 24px;
}

.dropdown-menu > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
}

.dropdown-menu > li > a:hover {
    border-bottom: none;
    padding-bottom: 3px;
}

.btn-primary {
    background-color: #f4691e;
    border: none;
    border-radius: 0px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #e0c31e !important;
}

.img-portfolio {
    margin: 10px;
}
